body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #3498db, #2c3e50); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game {
    text-align: center;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    width: 310px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    background-color: #fff;
}

.cell[data-cell="X"] {
    color: #f44336;
}

.cell[data-cell="O"] {
    color: #2196f3;
}

.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
}

.message {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
